.accountFrom,
.accountTo {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.accountTo {
  margin-left: 8px;
}

.submit {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
  margin-top: 12px;
  border-top: 1px solid #E8E8E8;
}

.skeleton {
  height: 20px;
  width: 330px;
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  animation: ant-skeleton-loading 1.4s ease infinite;
}

@keyframes ant-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
